/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Jan 11, 2024, 2:35:49 AM
    Author     : Hello Mark
*/

/*For left-nav bar buttons*/
.button{
    -fx-background-color: none;
    -fx-alignment: center-left;
    -fx-background-radius: 10px 0 0 10px;
}

.button:hover{
    -fx-background-color: #1e88e5;
    -fx-cursor: hand;
}
/*End Here*/

/*For dashboard*/
#dashboard-box{
    -fx-background-color: #3a53a5;
    -fx-background-radius: 10px;
    -fx-alignment: center;
}

#dashboard-box:hover{
    -fx-background-color: #1e88e5;
}

#transaction{
    -fx-background-color: white;
    -fx-background-radius: 10px;
}
/*End Here*/

/*resident-add*/
#submit{
    -fx-background-color: #3a53a5;
    -fx-background-radius: 10px;
    -fx-alignment: center;
}

#cancel{
    -fx-background-color: grey;
    -fx-background-radius: 10px;
    -fx-alignment: center;
}

/*.default-color0.chart-series-line{-fx-stroke: red}
.default-color1.chart-series-line{-fx-stroke: blue}
.default-color2.chart-series-line{-fx-stroke: green}
.default-color3.chart-series-line{-fx-stroke: yellow}*/
.chart-bar{
    -fx-bar-fill: #E6CD43;
}

.chart-bar:hover{
    -fx-bar-fill: #fef102;
    -fx-opacity: 80%;
}

.data0.chart-pie {
    -fx-pie-color: #5043E5; /* Color for the first slice */
}

.data0.chart-pie:hover {
    -fx-pie-color: #7b72e5; /* Color for the first slice */
}

.data1.chart-pie {
    -fx-pie-color: #E65243; /* Color for the second slice */
}

.data1.chart-pie:hover {
    -fx-pie-color: #e67d73; /* Color for the second slice */
}

.data2.chart-pie {
    -fx-pie-color: #E6CD43; /* Color for the third slice */
}

.data2.chart-pie:hover {
    -fx-pie-color: #e6d473; /* Color for the third slice */
}

.data3.chart-pie {
    -fx-pie-color: #43E68E; /* Color for the fourth slice */
}

.data3.chart-pie:hover {
    -fx-pie-color: #73e6a7; /* Color for the fourth slice */
}